
<section>

<h1>Created Coupons!</h1>

<p>
  Congrats! Your coupon <%= @coupon.description %> has been added to the database.
</p>

<li><a href='/coupons'>Back to list of coupons</a></li>

</section>
