<h1>Coupons!</h1>

  <li><a href='/coupons/create'>Create Coupons</a></li>

  </table>


<table>

      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Edit?</th>
      </thead>


    <tbody>

      <% @coupons.each do |coupon| %>
      <tr>

        <td>
          <%= coupon.id %>
        </td>
         <td>
           <%= coupon.name %>
         </td>
         <td>
           <%= coupon.email %>
         </td>
         <td>
           <a href='coupons/edit/<%= coupon.id %>'>Edit</a>
         </td>

      </tr>
      <% end %>
    </tbody>

  </table>
