<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <ul>
        <li>Home</li>
        <li>Coupons</li>
      </ul>
        <hr>
    </header>

    <%= yield %>

    <footer>
      <hr>
      &copy; 2015 Coupons. All rights reserved.
    </footer>
  </body>
</html>
